@mixin media-mobile {
  @media(max-width: 500px) {
    @content;
  }
}

@mixin media-pc {
  @media(min-width: 501px) {
    @content;
  }
}

html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Zen Maru Gothic", sans-serif;
  font-weight: 400;
  font-style: normal;

  body {
    margin: 0;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 10px;

    #header {
      background-color: #90a8fa;
      padding: 10px;
      align-self: stretch;
      display: flex;
      #title {
        word-break: keep-all;
        font-weight: bold;
        text-align: center;
        font-size: 2rem;
        width: 100%;
      }
    }

    #message {
      border: 1px solid #000;
      @include media-pc {
        width: 900px - 20px;
        font-size: 20px;
      }
      @include media-mobile {
        width: calc(100% - 20px);
        font-size: 18px;
      }
      word-break: keep-all;
      padding: 10px;
      text-align: center;
      box-sizing: border-box;
      button {
        padding: 10px 20px;
        cursor: pointer;
      }
    }

    #container {
      display: grid;
      @include media-pc {
        grid-template-rows: repeat(10, 1fr);
        grid-template-columns: repeat(10, 1fr);
      }
      @include media-mobile {
        grid-template-rows: repeat(20, 1fr);
        grid-template-columns: repeat(5, 1fr);
      }
      gap: 10px;
      padding: 10px;
      box-sizing: border-box;
      @include media-pc{
        width: 900px;
      }

      div {
        width: 100%;
        min-height: 10%;
        aspect-ratio: 4/3;
        box-sizing: border-box;
        position: relative;
        background-color: black;
        overflow: hidden;
        padding: 4px;
        cursor: pointer;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        &::before, &::after {
          content: '\025CF';
          display: flex;
          flex-direction: column;
          justify-content: center;
          box-sizing: border-box;
          padding: 0 4px;
          width: 50%;
          height: 100%;
          border: 1px solid black;
          position: absolute;
          top: 0;
          transition: transform 200ms ease;
          background-color: #5f4040;
          color: #aaaa30;
          @include media-pc {
            font-size: 0.75rem;
          }
          @include media-mobile {
            font-size: 0.6rem;
          }
        }
        &::before {
          left: 0;
          align-items: flex-end;
          transform-origin: 0 0% 0;
        }
        &::after {
          right: 0;
          align-items: flex-start;
          transform-origin: 100% 0% 0;
        }

        &.selected {
          border: 4px solid red;
        }

        &.open {
          $open_deg: 85deg;
          &::before{
            transform: rotateY($open_deg);
            transform: scaleX(10%);
          }
          &::after{
            transform: rotateY(-$open_deg);
            transform: scaleX(10%);
          }
        }
      }
    }
  }
}
