html {
  margin: 0;
  padding: 0;
  body {
    margin: 0;
    padding: 0;

    #header {
      background-color: #90a8fa;
      padding: 10px;
      #title {
        font-size: 2rem;
      }
    }

    #container {
      display: grid;
      grid-template-rows: repeat(10, 1fr);
      grid-template-columns: repeat(10, 1fr);
      gap: 10px;
      margin: 10px;
      max-width: 1000px;

      div {
        width: 100%;
        min-height: 10%;
        aspect-ratio: 4/3;
        box-sizing: border-box;
        position: relative;
        background-color: black;
        overflow: hidden;
        padding: 4px;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
        }

        &::before, &::after {
          content: '\025CF';
          display: flex;
          flex-direction: column;
          justify-content: center;
          box-sizing: border-box;
          padding: 0 4px;
          width: 50%;
          height: 100%;
          border: 1px solid black;
          position: absolute;
          top: 0;
          transition: transform 200ms ease;
          background-color: #5f4040;
          color: #aaaa30;
          font-size: 0.75rem;
        }
        &::before {
          left: 0;
          align-items: flex-end;
          transform-origin: 0 0% 0;
        }
        &::after {
          right: 0;
          align-items: flex-start;
          transform-origin: 100% 0% 0;
        }
        &:hover {
          $open_deg: 85deg;
          &::before{
            /* transform: rotateY($open_deg); */
            transform: scaleX(10%);
          }
          &::after{
            /* transform: rotateY(-$open_deg); */
            transform: scaleX(10%);
          }
        }
      }
    }
  }
}
